<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-list>
    <ion-item *ngFor="let note of notes" (click)="openNote(note)">
      <ion-label>
        {{ note.pet_name }}
      </ion-label>
    </ion-item>
  </ion-list>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-button (click)="logout()">
    <ion-icon slot="icon-only" name="log-out"></ion-icon>
  </ion-button>
</ion-content>
